
* {
/*     border: 1px red solid;
 */    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}



.page   {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.page > *   {
    padding-left: 20%;
    padding-right: 20%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #1f2937;
    color: azure;
    flex: 0 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    flex: 1 1 2em;
}

.header > div {
    flex: 0 0 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-align: right;
    font-size: smaller;
}

.header > div:first-child   {
    flex-grow: 2;
    text-align: left;
    font-weight: 800;
    font-size: larger;
}

.awesome    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: azure;
    margin: 0px;
    gap: 5px;
    padding-bottom: 10px;

    flex: 2 1 15em;
}

.awesome > div:first-child  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;

}

.awesome > div:first-child > button {
    width: 20%;
    border-radius: 4px;
    padding: 5px;
    color: azure;
    background-color: #3882f6;
    font-weight: 800;
    border: transparent;


}

.awesome > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-content: center;
}

#snowstorm {
    padding: 1%;
    border: white;
    border-radius: 5px;
    width: 100%;
}

#snowstorm > img  {
    width: 80%;
    border-radius: 5px;
    border: 1px transparent;
    min-width: 300px;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #1F2937;
    flex: 2 1 20em;
}

img {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #3882f6;
}

.random > div {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 800;
}

.random > div:last-child    {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    gap: 5px;
    font-size: smaller;
    flex-wrap: wrap;
}

.random > div:last-child > div {
    flex: 1 1 0;
}

.quote  {
    flex: 1 1 10em;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    font-size: larger;
    font-style: italic;
    font-weight: 300;

    background-color: #e5e7eb;
    color: #1F2937;

}

.quote > div    {
    padding-left: 100px;
    padding-right: 100px;

}

.quote > :last-child    {
    text-align: right;
    font-size: large;
    font-style: normal;
    font-weight: 700;

}

.CTA    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 100px;
    color: #F9FAF8;

    flex: 1;
}

.CTA-background {
    display: flex;
    background-color: #3882f6;
    padding: 20px;
    border-radius: 5px;
}

.CTA-background > div {
    flex: 7;

}


#button2    {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px;
    flex: 3;
    font-size: larger;
    border: none;
    outline: none;

}

#button2 > p {
    border-radius: 5px;
    border: #F9FAF8 solid 2px;
}

.footer {
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;

}

.footer  > p {
    flex: 2;
    padding: 5px 5px;
    font-weight: 800;
}

.credits    {
    flex: 1;
    padding: 5px 5px;
}

.footer > .credits > ul {
    display: flex;
    font-size: smaller;
}

.footer > .credits > ul > li{
    list-style: none;
}