
/* * > * {
    border: 1px red solid;
} */

body {
    /* general attributes */
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    height: 100px;
}

.page {
    padding-left: 30px;
    padding-right: 30px;
    width: 800px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

